.card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15rem;
  text-align: start;
  background-color: #fff;
  border: 3px solid rgb(234, 223, 255);
  border-radius: 1rem;
  box-sizing: border-box;
  transition: all 1s;
  
  &:hover {
    box-shadow:
      -5px -5px 30px 5px rgba(140, 82, 255, 0.5),
      5px 5px 30px 5px rgba(140, 82, 255, 0.5);
    border: 3px solid transparent;
  }
}
@media all and (min-width: 900px) {
  .card {
    min-width: 60rem;
    max-width: 50%;
  }
  
  .layout {
    width: 100%;
    display: flex;
    padding: 5rem 0;
  }
}
@media all and (min-width: 1440px) {
  .card {
    min-width: 85rem;
    max-width: 50%;
  }
  .layout {
    width: 100%;
    padding: 5rem 0;
  }
}
