.card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15rem;
  text-align: start;
  background-color: #fff;
  border-radius: 1rem;
  box-sizing: border-box;
  box-shadow:
  0 -1px 15px -10px rgba(140, 82, 255, 0.5),
  1px 1px 15px -10px rgba(140, 82, 255, 0.5), 
  -1px 0 15px -10px rgba(140, 82, 255, 0.5);
  border: 3px solid transparent;
  transition: all 1s;
  
  &:hover {
    border: 3px solid rgb(234, 223, 255);
  }
}
@media all and (min-width: 900px) {
  .card {
    min-width: 60rem;
    max-width: 50%;
  }
  .guideBox {
    min-width: 60rem;
    max-width: 50%;
  }
  .layout {
    width: 100%;
    display: flex;
  }
}
@media all and (min-width: 1440px) {
  .card {
    min-width: 85rem;
    max-width: 50%;
  }
  .guideBox {
    min-width: 85rem;
    max-width: 50%;
  }
  .layout {
    width: 100%;
  }
}
