.skills {
  position: relative;
  padding: 5rem 0;
  text-align: center;
  height: 60rem;
  display: flex;
  flex-direction: row;
  align-items: start;
}
.skills > div {
  width: 33.3%;
}
.html_group::after, .css_group::after { 
  position: absolute;
  top: 5rem;
  margin-left: 16.5%;
  content: "";
  width: 0.5rem;
  height: 92%;
  border-radius: 1rem 1rem 0 0;
  background: rgba(140, 82, 255, 0.3);
}
.html {
  background: no-repeat center url("tech/html.png");
}
.css { 
  background: no-repeat center url("tech/css.png");
}
.js {
  background: no-repeat center url("tech/javascript.png");
}
.big_icon {
  margin: 0 auto;
  width: 10em;
  height: 10rem;
  border-radius: 15%;
  border: 3px solid rgba(140, 82, 255, 0.3);
  background-size: 80%;
  transition: 0.25s all;
}
.big_icon:hover {
  background-size: 90%;
}
.md_icon {
  width: 7rem;
  height: 7rem;
  border-radius: 15%;
  border: 2px solid rgba(140, 82, 255, 0.2);
}
.sm_icon {
  width: 5rem;
  height: 5rem;
  border-radius: 15%;
  border: 2px solid rgba(140, 82, 255, 0.1);
}
