@keyframes shake {
  0% {
    rotate: 0deg;
  }
  20% {
    rotate: -5deg;
  }
  40% {
    rotate: 0deg;
  }
  60% {
    rotate: 2deg;
  }
  80% {
    rotate: -3deg;
  }
}
.skills {
  padding: 1rem 0;
  text-align: center;
}
.basic_group {
  position: relative;
  width: 80%;
  padding: 2rem;
  margin: 3rem auto;
  border-radius: 1.5rem;
  overflow: hidden;
  border: 3px solid rgba(140, 82, 255, 0.1);
  display: flex;
  transition: all 0.7s;

  &:hover {
    border: 3px solid rgba(140, 82, 255, 0.3);
  }
  &:first-child .title {
    background-color: orange;
  }
  &:nth-child(2) .title {
    background-color: blue;
  }
  &:nth-child(3) .title {
    background-color: cyan;
  }
  &:nth-child(4) .title {
    background-color: green;
  }
  &:last-child .title {
    background-color: gray;
  }
  .title {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    span {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 1rem;
      color: #fff;
      writing-mode: vertical-rl;
      text-orientation:upright;
      letter-spacing: 3px;
    }
  }
}
.icon_group {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 90%;
  padding-left: 10%;

  div {
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    border: 2px solid #eeeeee;
    overflow: hidden;
    transition: 0.25s all;

    &:hover {
      border: 2px solid #eeeeee;
      box-shadow: 0 0 0 1px #eeeeee inset; 
    }
    &:hover img{
      opacity: 0.1;
      }

    &:hover span{
      opacity: 1;
      bottom: 33%;
      transform: rotateX(0);
    }

    & span {
      position: absolute;
      bottom: -10px;
      font-size: 12px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
      color: #fff;
      padding: 4px;
      border-radius: 5px;
      background-color: #551A8B;
      background-color: rgb(162, 115, 255);
      opacity: 0;
      transform: rotateX(90deg);
      transition: 0.3s all;
    }

    & img {
    width: 70%;
    border-radius: 20%;
    transition: 0.3s all;
    }
    & img[alt="vuetify"] {
      width: 60%;
    }
    & img[alt="awsS3"] {
      width: 90%;
    }
  }
}

@media all and (min-width: 900px) {
  .basic_group {
    .title {
      span {
        font-size: 1.5rem;
      }
    }
  }
  .icon_group {
    
    div {
      width: 7rem;
      height: 7rem;

      &:hover span{
      opacity: 1;
      bottom: 33%;
      transform: rotateX(0);
    }

      & span {
        bottom: -15px;
        font-size: 18px;
        padding: 4px;
      }
    }
  }
}

@media all and (min-width: 1440px) {
  .icon_group {
    div {
      width: 8rem;
      height: 8rem;
    }
  }
}