.innerCard_content {
  width: 80%;
  margin: 0 auto;
  border: 1px solid rgba(140, 82, 255, 0.1);
  border-radius: 1rem;
  overflow: hidden;

  div {
    padding-top: calc(100% / 16 * 7.6);
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 1rem 1rem 0 0;
    background: no-repeat 50% 50%;
    background-size: 100%;
    box-sizing: border-box;
    transition: all 1s;
  }
  .project1 {
    background-image: url(projects/project1.png);
  }
  .project2 {
    background-image: url(projects/project2.png);
  }
  .project3 {
    background-image: url(projects/project3.png);
  }
  div:hover {
    background-size: 125%;
    opacity: 0.7;
  }
  span {
    display: block;
    margin: 0 auto;

    h2 {
      background-color: #8c52ff;
      font-family: "NotoSansKR";
    }
  }
  h3 {
    background-color: rgb(230, 230, 230);
    padding: 2rem 0;
    ul {
      width: 80%;
      display: inline-block;
      margin: 0 auto;
    }
    li {
      list-style: circle;
      font-family: "NotoSansKR";
      text-align: start;
      margin-left: 30%;
      padding: 1rem 0;
      color: #551a8b;

      &:last-child a{
        color: #8c52ff;
        display: inline-flex;
        align-items: center;
        transition: all 0.7s;

        &:hover {
          color: #222;
        }

        img {
          margin-left: 0.8rem;
          width: 1.6rem;
          height: 1.6rem;
        }
      }
    }
    
  }
}

