@keyframes shake {
  0% {
    rotate: 0deg;
  }
  20% {
    rotate: -12deg;
  }
  40% {
    rotate: 5deg;
  }
  60% {
    rotate: 10deg;
  }
  80% {
    rotate: -3deg;
  }
}
.about_me {
  position: relative;
  width: 100%;
  padding-bottom: 5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile_box {
  width: 100%;
  max-width: 35rem;
  border-radius: 10px;
  margin: 0 auto;

  h1 {
    position: relative;
    background-color: #8c52ff;
    color: #ffffff;
    font-size: 20px;
    margin-top: 5rem;
    border-radius: 10px 10px 0 0;

    &:before {
      content: "NAME";
      font-size: 1.2rem;
      font-weight: lighter;
      display: inline-block;
      position: absolute;
      background-color: rgba(85, 26, 139, 0.8);
      top: -1.25rem;
      left: 50%;
      padding: 2px 5px;
      border-radius: 5px;
      transform: translate(-50%);
    }
  }
}
.profile {
  width: 25rem;
  height: 25rem;
  margin: auto;
  border-radius: 15%;
  background: no-repeat 50% 5%/100% url("img/AI_profile.jpg");
  background-size: 100%;
  transition: all 0.7s;

  &:hover {
    background-size: 110%;
  }
}
.iam {
  width: 100%;
  max-width: 35rem;
  margin: auto;

  h2 {
    position: relative;
    padding: 1.8rem;
    border: 3px solid rgba(140, 82, 255, 0.1);
    border-top: 0 none;
    border-radius: 0 0 10px 10px;
    color: rgba(85, 26, 139, 0.8);
    transition: all 0.5s;

    &:hover {
      border: 3px solid rgba(140, 82, 255, 0.3);
      border-top: 0 none;
    }
    &:before {
      content: "DEV - PART";
      color: #fff;
      font-size: 1.2rem;
      font-weight: lighter;
      display: inline-block;
      position: absolute;
      background-color: rgba(85, 26, 139, 0.8);
      top: -1.25rem;
      left: 50%;
      padding: 1px 5px;
      border-radius: 5px;
      transform: translate(-50%);
    }
  }
  .myself {
    position: relative;
    margin-top: 3.7rem;
    padding: 3rem;
    color: #fff;
    border: 3px solid rgba(140, 82, 255, 0.1);
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    transition: all 0.5s;
    
    &:hover {
      border: 3px solid rgba(140, 82, 255, 0.3);
    }
    &:before {
      content: "I AM";
      font-size: 1.2rem;
      font-weight: lighter;
      display: inline-block;
      position: absolute;
      background-color: rgba(85, 26, 139, 0.8);
      top: -1.25rem;
      left: 50%;
      padding: 5px;
      border-radius: 5px;
      transform: translate(-50%);
    }
  }
  ul {
    position: relative;
    text-align: start;
    box-sizing: border-box;
  }
  li {
    width: 90%;
    position: relative;
    margin-top: 1.5rem;
    padding: 0 10px;
    border-radius: 1rem;
    box-sizing: border-box;
    left: 5%;
    transition: all 0.8s;

    &:nth-child(odd) {
      background-color: rgb(230, 230, 230);
    }
    &:nth-child(even) {
      background-color: rgb(140, 82, 255);
    } 
    &:hover {
      margin-left: 10%;
    }
    &:nth-child(even) h3 {
      color: #ffffff;
    }
    h3 {
      font-family: NotoSansKR;
      color: #551a8b;
    }
  }
}
.link {
  position: relative;
  color: #fff;
  width: 100%;
  max-width: 35rem;
  margin: auto;
  margin-top: 3.7rem;
  padding: 3.5rem 1rem;
  border: 3px solid rgba(140, 82, 255, 0.1);
  border-radius: 1rem;
  box-sizing: border-box;
  transition: all 0.5s;

  &:hover {
    border: 3px solid rgba(140, 82, 255, 0.3);
  }
  &:before {
    content: "LINK";
    font-size: 1.2rem;
    font-weight: lighter;
    display: inline-block;
    position: absolute;
    background-color: rgba(85, 26, 139, 0.8);
    top: -1.25rem;
    left: 50%;
    padding: 5px;
    border-radius: 5px;
    transform: translate(-50%);
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  a {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 5rem;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: rgb(140, 82, 255);
    overflow: hidden;
    transition: all 1.5s;
    
    &:hover {
      background-color: rgba(140, 82, 255, 0.5);
    }
    &:hover img {
      transform: translateY(-1.1rem);
      animation: shake 0.9s ease-in-out infinite;
    }
    &:hover span {
      opacity: 1;
    }
    img {
      width: 3rem;
      box-sizing: border-box;
      transition: all 0.5s;
    }
  }
  span {
    position: absolute;
    bottom: 0.7rem;
    font-size: 1.2rem;
    color: #fff;
    opacity: 0;
    transition: all 0.5s;
  }
}
@media all and (min-width: 900px) {
  .about_me {
    flex-direction: column;
  }
  .profile {
    width: 30rem;
    height: 30rem;
  }
  .link {
    a {
      width: 6rem;
      height: 6rem;
    }
  }
}
@media all and (min-width: 1440px) {
  .about_me {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .profile_box {
    max-width: 40%;
    margin: 0 5%;

    h1 {
      border-radius: 10px;
    }
  }
  .profile {
    width: 35rem;
    height: 35rem;
  }
  .iam {
    max-width: 40%;
    margin: 0 5%;

    h2 {
      margin-top: 0;
      border-radius: 10px;
      border-top: 3px solid rgba(140, 82, 255, 0.1);
      
      &:hover {
        border: 3px solid rgba(140, 82, 255, 0.3);
      }
    }
  }
  .link {
    // width: 90%;
    max-width: 90%;
  }
  .link ul a {
    width: 8rem;
    height: 8rem;
    box-sizing: border-box;
  }
}
